.main{border:1px solid #DDDDDD;width:1002px;height:312px;margin-top:24px;margin-left:125px;}
.submain{position:absolute;}
.title{font-size:17px;text-align:center;}
.content{width:1000px;height:280px;font-size:14px;overflow:auto;}